{% extends 'base.html.twig' %}

{% block title %}Pie Chart{% endblock %}

{% block body %}
    <div id="chart-container"></div>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <script>
        Highcharts.chart('chart-container', {
            chart: {
                type: 'pie'
            },
            title: {
                text: 'Courses by difficulty'
            },
            series: [{
                name: 'Courses',
                data: {{ chartData|raw }}
            }]
        });
    </script>
{% endblock %}
